<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Reasons</title>
  <meta name="description" content="A website that gives reasons to live">
  <meta name="author" content="Dylan Sigler">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <style>
    html,
    body{
      height: 100%;
    }
    
    .container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .lead{
      color: #97C6B0;
      margin: 40px;
    }

    .cover-heading{
      color: #FEE3CD;
    }

    .btn{
      background-color: #F4ABA4;
      color: white;
    }
    .btn:hover{
      background-color: #ad7e79fa;
      
    }
  </style>
</head>
<body class="text-center" style="background-color: #515C74;">
  <div class="container">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Discover your reason</h1>
      <p class="lead" id="reason_text">You are a light in the world.</p>
      <p class="lead">
        <button type="button" class="btn btn-lg btn-outline-secondary" onclick="changeText();">Click me</button>
      </p>
    </main>
  </div>
  <script>
    function changeText(){
      $.getJSON($SCRIPT_ROOT + '/_get_reason',{
        reason: document.getElementById('reason_text').innerHTML
      }, function(data) {
        $('#reason_text').text(data);
      });      
    }
  </script>
</body>

</html>